<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/styles/bulma-pricingtable.min.css" />
  <link rel="stylesheet" href="/styles/main.min.css" />
  <link rel="stylesheet" href="/styles/contact.css">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Stop bots and manual spam from reaching you or your customer. All with high accuracy and privacy.">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@oopspamapi" />
  <meta property="og:url" content="https://www.oopspam.com/" />
  <meta name="og:title" content="OOPSpam Anti-Spam API: A powerful spam filter for any content exchange" />
  <meta name="og:description" content="Stop bots and manual spam from reaching you or your customer. All with high accuracy and privacy. " />
  <meta name="og:image" content="https://www.oopspam.com/assets/meta_oopspam.png" />
  <meta name="twitter:image" content="https://www.oopspam.com/assets/meta_oopspam_tw.png" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <title>OOPSpam Anti-Spam API: A powerful spam filter for any content exchange</title>
  
</head>

<body>
 <section class="section navigation" style="padding-bottom:2rem;padding-right: 0;padding-left: 0; background-color:inherit;">
    <div class="navbar is-fixed-top is-transparent">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/assets/oopspamLogo.svg" alt="OOPSpam logo" width="112" height="28">
          </a>
          <a id="navbarBurger" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navigation-bar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navigation-bar" class="navbar-menu">
          <div class="navbar-start">
          </div>
          <div class="navbar-end">
            <a href="/help" class="navbar-item  has-text-black">
              Docs
           </a>
            <a href="./#pricing" class="navbar-item  has-text-black">
              Pricing
            </a>
            
            <a href="/blog" class="navbar-item  has-text-black">Blog</a>
            <a href="./#contact" class="navbar-item has-text-black">
              Contact
            </a>
            <div class="navbar-item">
               <a href="https://app.oopspam.com/Identity/Account/Login" class="has-text-black button is-warning is-outlined">
              Log in
            </a>
            </div>
            <div class="navbar-item">
             <a href="https://app.oopspam.com/Identity/Account/Register" class="has-text-black button is-warning is-bg-orange">
              Get started
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- is-hidden -->
<section id="notify ">
<div class="notification  is-hidden" style="text-align: center; background-color: #fcdc56;">
  We are releasing a new dashboard. The dashboard may not be available. Please check back later.
  </div>
</section>
  <!-- The Main Section -->
  <section id="main" class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-vcentered">
          <!-- Left-side column -->
          <div class="column is-5 has-text-left">
            <div class="content">
              <h1 class="is-size-2" style="font-family: 'Playfair Display',serif;">
                Automate & Scale Your
                <span class="shadow is-success has-text-weight-bold">
                  Spam Protection
                </span>
              </h1>
            </div>
            <h2 class="subtitle">
              OOPSpam API stops bots and manual spam from reaching your customers with high accuracy and privacy.
            </h2>
            <div class="columns is-centered is-vcentered mt-6">
              <div class="column">
                <a class="button-has-shadow button is-medium is-warning is-rounded is-bg-orange"
                  href="https://app.oopspam.com/Identity/Account/Register">
                  Try OOPSpam for free →
                </a>
              </div>
            </div>
            <div class="columns is-centered is-vcentered">
              <div class="column has-text-grey">
                 ✓ No credit card required   ✓ Cancel anytime
              </div>
            </div>
          </div>
          <!-- Right-side Illustration -->
          <div class="column">
            <img loading="lazy" src="/assets/Oopspam-request-response.png" alt="OOPSpam API request & response example" width="650">
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="customers" class="section has-background-black my-6" style="padding-top:5em; padding-bottom:5em;">
    <div class="container">
      <h2 class="title is-size-3 has-text-centered has-text-white pb-6">OOPSpam is helping to keep hundreds of businesses spam-free every day</h2>
      <div class="columns">
        <div class="column is-full">
          <div class="content has-text-centered is-hidden-touch mb-0">
              <img class="p-3" src="/assets/cs/logos.png" loading="lazy" alt="OOPSpam customers logo">
          </div>
          <div class="content is-flex-desktop is-justify-content-center is-align-content-center is-hidden-desktop">
            <img src="/assets/cs/mobile-view.png" loading="lazy" alt="">
        </div>
        </div>
        </div>
        <div class="level is-mobile" style="padding-top: 2.5em;">
          <div class="level-item has-text-left ">
            <div>
              <p class="title has-text-white">350K+</p>
              <p class="heading has-text-white">protected websites</p>
            </div>
          </div>
          <div class="level-item has-text-left">
            <div>
              <p class="title has-text-white">12+</p>
              <p class="heading has-text-white">industries</p>
            </div>
          </div>
          <div class="level-item has-text-left">
            <div>
              <p class="title has-text-white">65M+</p>
              <p class="heading has-text-white">caught spam</p>
            </div>
          </div>
      </div>
  </section>

  
  
   
  </div>


   <!-- Request & Response -->
   <section id="request" class="section is-mobile my-6" >
    <div class="container">
      <div class="columns is-vcentered is-centered is-8 is-variable">
        <div class="column is-5 has-text-centered">
          <img loading="lazy" src="/assets/OopsSpam_FilterIllustration.png" alt="OOPSpam filtering comments illustration"
            width="350">
        </div>
        <div class="column is-2"></div>
        <div class="column is-5">
          <h2 class="title content has-text-black">Remove noise and focus on </br> what matters</h2>
          <div class="columns is-multiline is-1 is-variable is-mobile" style="text-align: left;">
            <div class="column is-full is-inline-flex flex-alignitems-center my-3">
              <img loading="lazy" src="assets/aim.png" width="40px" alt="" class="has-margin-right" />
              <div><h4 class="content subtitle is-4">
                High accuracy
              </h4>
              We've caught over 65M spam. You're protected from both human and bot spammers.
            </div>
            </div>
            <div class="column is-full is-inline-flex flex-alignitems-center my-3">
              <img loading="lazy" src="assets/Diamond.png" width="40px" alt="" class="has-margin-right" />
              <div><h4 class="content subtitle is-4">
                Spam Score
              </h4>
              Don't block legitimate users. Adjust your spam filtering with the spam score.
            </div>
            </div>
            <div class="column is-full is-inline-flex flex-alignitems-center my-3">
              <img loading="lazy" src="assets/Report.png" width="40px" alt="" class="has-margin-right" />
              <div><h4 class="content subtitle is-4">
                Detailed report
              </h4>
          Know why someone is blocked so that you can customize and protect your users better.</div>
            </div>
            <div class="column is-full is-inline-flex flex-alignitems-center my-3">
              <img src="assets/Security.png" width="40px" alt="" class="has-margin-right" />
              <div><h4 class="content subtitle is-4">
                Privacy by design
              </h4>
            We don't see or store your data. Your business is safe with us.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

   <!-- Measurements -->
   <section id="measurements" class="section my-6">
    <div class="container">
      <div class="columns is-vcentered is-centered">
        <div class="column">
          <h2 class="content title has-text-black">
             Spam protection isn’t easy. We just make it feel that way.
          </h2>
          <small>You send a simple API request. We do powerful analyses to <span class="shadow is-success">guarantee a spam-free experience for you</span>.</small>
          <p class="is-size-5 feature"><span class="checkmark"></span>Spam score</p>
          <p class="is-size-5 feature"><span class="checkmark"></span>Machine Learning models</p>
          <p class="is-size-5 feature"><span class="checkmark"></span>Multiple blocklisted IPs lists</p>
          <p class="is-size-5 feature"><span class="checkmark"></span>Advanced content analyses</p>
          <p class="is-size-5 feature"><span class="checkmark"></span>Spam word pattern detection</p>
          <p class="is-size-5 feature"><span class="checkmark"></span>Auto-improvement model</p>
          <p class="is-size-5 feature"><span class="checkmark"></span>Language Restrictions</p>
          <p class="is-size-5 feature"><span class="checkmark"></span>Country Restrictions</p>
          </br>
          <p style="font-size: 0.7cm;">... and many more custom rules.</p>
        </div>

        <div class="column has-text-centered">
          <img loading="lazy" src="/assets/Measure2.png" alt="An illustration on how OOPSpam Anti-Spam API detects spam."
            width="400">
        </div>
      
      </div>
    </div>
  </section>

  <section id="testyourdata" class="section is-mobile my-6" >
    <div class="container">
      <div class="columns is-vcentered is-centered is-8 is-variable">
       
        <div class="column has-text-centered">
          <img loading="lazy" src="/assets/TestGraphic.png" alt="OOPSpam Dashboard - Test with your data" width="450">
        </div>
        <div class="column">
          <h2 class="title content has-text-black">Save time before integrating OOPSpam API. <br> Paste and see the result.</h2>
          <div class="columns is-multiline is-1 is-variable is-mobile" style="text-align: left;">
            <div class="column is-full is-inline-flex flex-alignitems-center">
              <div class="content is-size-5">
                Use our dashboard to test with your data before going through API integration. Simply paste your data and see how it works for you.
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-full">
              <p class="has-text-left pt-5">
                <a class="button is-medium is-warning is-rounded button-has-shadow is-bg-orange"
                  href="https://app.oopspam.com/#test-with-your-data">
                  Test your data now →
                </a>
              </p>
            </div>
          </div>
        </div>

      </div>
      
    </div>
  </section>

    <!-- Use Cases -->
  <section id="use-cases" class="section my-6">
    <div class="container">
      <h2 class="title has-text-centered has-text-black pt-3 pb-3">Endless Use Cases</h2>
      <div class="columns">
        <div class="column is-3 is-flex is-flex-direction-column py-5 block" >
          <div class="content is-vcentered has-text-left fixed-dimension mb-0">
            <img loading="lazy" src="/assets/Icon_ContactForm.png" width="130" alt="">
          </div>
          <p class=" has-text-left is-size-5 has-text-black mb-0">Contact Form</p>
          <p class="has-text-left pt-3  pr-6">
            Allow visitors to contact you without solving puzzles. We understand blocking spam is important, just as much as allowing legitimate leads. That is why we make sure you don't miss any opportunities through your contact forms.
          </p>
        </div>
        <div class="column is-3 is-flex is-flex-direction-column py-5 block" >
          <div class="content is-vcentered has-text-left fixed-dimension mb-0">
            <img loading="lazy" src="/assets/Icon_Messaging.png" width="130" alt="">
          </div>
          <p class=" has-text-left is-size-5 has-text-black mb-0">Comments & Reviews</p>
          <p class="has-text-left pt-3 pr-6">
            OOPSpam works great with review and comment systems, especially on e-commerce platforms. We handle spam in one of the most popular review widgets in the market. 
          </p>
        </div>
        <div class="column is-3 is-flex is-flex-direction-column py-5 block" >
          <div class="content is-vcentered has-text-left fixed-dimension mb-0">
            <img loading="lazy" src="/assets/Icon_ChatSystem.png" width="130" alt="">
          </div>
          <p class=" has-text-left is-size-5 has-text-black mb-0">Private & Live Chats</p>
          <p class="has-text-left pt-3 pr-6">
            OOPSpam prevents spammers from sending ads to your customers. Use OOPSpam in a private system without worrying about privacy. We don't store or track your data.
          </p>
        </div>
        <div class="column is-3 is-flex is-flex-direction-column py-5 block" >
          <div class="content is-vcentered has-text-left fixed-dimension mb-0">
            <img loading="lazy" src="/assets/Icon_Email.png" width="130" alt="">
          </div>
          <p class=" has-text-left is-size-5 has-text-black mb-0">Email marketing</p>
          <p class="has-text-left pt-3 pr-6">
            No matter you are sending emails to your customers or getting emails from different channels. Use OOPSpam to scan email content and IP for spam-freeness.
          </p>
        </div>
      </div>
  </section>



    <!-- New testiomanl -->
<section class="hero my-6">
  <div class=" hero-body">
    <h2 class="title has-text-centered has-text-black pt-3 pb-3">What People Are Saying</h2>
    <div class="columns">
      <div class="column">
        <div class="box ">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img class="is-rounded" src="/assets/Peter.jpg" alt="" style=" filter: grayscale(100%);">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                  <small class="is-orange-underline has-text-weight-bold">Peter Bethke | Cellainc.com</small>
                  <p class="is-size-5 pt-3">
                  After looking at several APIs for spam detection, we decided on OOPSpam and have not regretted that decision. <strong>The API is well documented, fast, and the developer has been very responsive and proactive</strong>. Highly recommended.
                  </p>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img loading="lazy" class="is-rounded" src="/assets/Rebecca.png" alt="" style=" filter: grayscale(100%);">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                  <small class="is-orange-underline has-text-weight-bold">Rebecca Shiles | The Kelly Companies</small> 
                  <p class="is-size-5 pt-3">
                    <strong>It is powerful but also endlessly customizable</strong> and the few questions we had were answered promptly and the support staff went above and beyond to help us with the integration.
                  </p>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img class="is-rounded" src="/assets/Vu.png" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                  <small class="is-orange-underline has-text-weight-bold">Vu Nguyen | Nilead.com</small>
                  <p class="is-size-5 pt-3">
                  <strong>OOPSpam helped us (and our clients) to flag many spam messages correctly.</strong> The support is very responsive to our requests and feedback. We strongly recommend OOPSpam for anyone who values their time and resources.
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
 
   <!-- Platforms -->
   <section id="platforms" class="section my-6">
    <div class="container">
      <h2 class="title has-text-centered has-text-black pt-3 pb-3">Built for developers. Trusted by businesses.</h2>
      <div class="columns">
        <div class="column is-3">
          <div class="content is-vcentered has-text-centered fixed-dimension">
            <img loading="lazy" src="/assets/icons/Icon_1.png" width="90" alt="">
            <p class="desc is-size-5 has-text-black">99.999% API Success Rate</p>
            <p>All errors are reported by an error tracking system and fixed promptly.</p>
          </div>
        </div>
        <div class="column is-3">
          <div class="content is-vcentered has-text-centered fixed-dimension">
            <img loading="lazy" src="/assets/icons/Icon_2.png" width="90" alt="">
            <p class="desc is-size-5 has-text-black">Privacy-friendly</p>
            <p>
              No data stored, no user exploited. OOPSpam is GDPR compliant.
            </p>
          </div>
        </div>
   
        <div class="column is-3">
          <div class="content is-vcentered has-text-centered fixed-dimension">
            <img loading="lazy"src="/assets/icons/Icon_4.png" width="90" alt="">
            <p class="desc is-size-5 has-text-black">Unlimited Websites</p>
            <p>Every plan comes with unlimited integration. Use on as many websites as you want.</p>
          </div>
        </div>
        <div class="column is-3">
          <div class="content is-vcentered has-text-centered fixed-dimension">
            <img loading="lazy" src="/assets/icons/Icon_3.png" width="90" alt="">
            <p class="desc is-size-5 has-text-black">24/7 support</p>
            <p>Get help whenever you need it from our always-on team.</p>
          </div>
        </div>
      </div>
      <div class="columns pt-3">
        <div class="column is-full">
          <p class="has-text-centered">
            <a class="button is-medium is-warning is-rounded button-has-shadow is-bg-orange"
              href="https://oopspam.com/docs">
              Visit documentation →
            </a>
        </div>
      </div>
  </section>
   <!-- Pricing -->
   <section id="pricing" class="section my-6">
    <div class="container">
      <div class="columns">
        <div class="column is-full">
          <h2 class="title has-text-centered has-text-black">Simple, transparent pricing.</h2>
          <h3 class="subtitle has-text-centered" style="padding:0.7em;">Start with 40 free spam checks — no credit card required</h3>
          <div class="buttons has-addons is-centered plan-interval">
            <span class="button monthly">Monthly</span>
            <span class="button is-warning is-selected yearly is-bg-orange">Yearly / two months FREE</span>
          </div>
          <div class="pricing-table">
            <div class="pricing-plan">
              <div class="plan-header">Freelance</div>
              <div class="columns is-flex is-centered">
              <figure class="image is-128x128 is-inline-block ">
                <img loading="lazy" class="is-rounded" src="/assets/ONE.png" alt="Image">
              </figure>
              </div>
              <div class="plan-price monthly-price">
                <span class="plan-price-amount has-text-grey has-text-strike"><span class="plan-price-currency">$</span>49</span>/month
              </div>
              <div class="plan-price yearly-price">
                <span class="plan-price-amount"><span class="plan-price-currency">$</span>40.83</span>/month, billed yearly
              </div>
              <div class="plan-items">
                <div class="plan-item">Advanced Spam Protection</div>
                <div class="plan-item">Misdetection Reporting API
                  <p><small>Processed within a week</small></p>
                </div>
                <div class="plan-item">100 000 API Calls</div>
                <div class="plan-item">Unlimited sites</div>
                <div class="plan-item">No logs policy</div>
                <div class="plan-item">E-mail Support</div>
              </div>
              <div class="plan-footer">
                <a class="button is-medium is-warning button-has-shadow is-bg-orange"
                href="https://app.oopspam.com/Identity/Account/Register">
                Start & test for free
                </a>
              </div>
            </div>
          
            <div class="pricing-plan has-warning-boxshadow">
              <div class="plan-header">Agency</div>
              <small class="is-bg-orange" style="text-align: center; font-size:10px; font-weight: bold;">MOST POPULAR</small>
              <div class="columns is-flex is-centered">
                <figure class="image is-128x128 is-inline-block ">
                  <img loading="lazy" class="is-rounded" src="/assets/TWO.png" alt="Image">
                </figure>
                </div>
                <div class="plan-price monthly-price">
                  <span class="plan-price-amount has-text-grey has-text-strike"><span class="plan-price-currency">$</span>79</span>/month
                </div>
                <div class="plan-price yearly-price">
                  <span class="plan-price-amount"><span class="plan-price-currency">$</span>65.8</span>/month, billed yearly
                </div>
              <div class="plan-items">
                <div class="plan-item">Advanced Spam Protection</div>
                <div class="plan-item">Misdetection Reporting API
                  <p><small>Processed in 72 hours</small></p>
                </div>
                <div class="plan-item">300 000 API Calls</div>
                <div class="plan-item">Unlimited sites</div>
                <div class="plan-item">No logs policy</div>
                <div class="plan-item">Priority E-mail Support</div>
              </div>
              <div class="plan-footer">
                <a class="button is-medium is-warning button-has-shadow is-bg-orange"
                href="https://app.oopspam.com/Identity/Account/Register">
                Start & test for free
                </a>
              </div>
            </div>
          
            <div class="pricing-plan">
              <div class="plan-header">Business</div>
              <div class="columns is-flex is-centered">
                <figure class="image is-128x128 is-inline-block ">
                  <img loading="lazy" class="is-rounded" src="/assets/THREE.png" alt="Image">
                </figure>
                </div>
                <div class="plan-price monthly-price">
                  <span class="plan-price-amount has-text-grey has-text-strike"><span class="plan-price-currency">$</span>399</span>/month
                </div>
                <div class="plan-price yearly-price">
                  <span class="plan-price-amount"><span class="plan-price-currency">$</span>332.5</span>/month, billed yearly
                </div>
              <div class="plan-items">
                <div class="plan-item">Advanced Spam Protection</div>
                <div class="plan-item">Misdetection Reporting API
                  <p><small>Processed in 24 hours</small></p>
                </div>
                <div class="plan-item">1 000 000 API Calls</div>
                <div class="plan-item">Unlimited sites</div>
                <div class="plan-item">No logs policy</div>
                <div class="plan-item">Priority E-mail & Call Support</div>
              </div>
              <div class="plan-footer">
                <a class="button is-medium is-warning button-has-shadow is-bg-orange"
                href="https://app.oopspam.com/Identity/Account/Register">
                Start & test for free
                </a>
              </div>
            </div>

            <div class="pricing-plan">
              <div class="plan-header">Enterprise</div>
              <div class="columns is-flex is-centered">
              <figure class="image is-128x128 is-inline-block ">
                <img loading="lazy" class="is-rounded" src="/assets/ENT.png" alt="Image">
              </figure>
              </div>
              <div class="plan-price"><span class="plan-price-amount is-bg-orange">
<a class="button is-small is-warning button-has-shadow is-bg-orange" href="./#contact">
                Contact sales
                </a>

              </span></div>
              <div class="plan-items">
                <div class="plan-item">Everything in Business</div>
                <div class="plan-item">More API calls</div>
                <div class="plan-item">Dedicated account manager</div>
              </div>
              <div class="plan-footer">
                <a class="button is-medium is-warning button-has-shadow" href="./#contact">
                  Contact sales
                </a>
              </div>
            </div>
            
          </div>
          </div>
        </div>
        <p class="p-3" style="text-align: center;"><small >Just need less than 15K API calls? <a href="https://www.oopspam.com/#contact">Contact us</a> for Starter plan.</small></p>

      </div>
    </div>
  </section>
  <!-- FAQ -->
  <section id="faq" class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-2">
          <div class="content has-text-left subtitle">
            <h2 class="title has-text-black">Frequently Asked <span class="shadow is-success">Questions</span> (FAQ)</h2>
            <details>
              <summary unselectable="on" onselectstart="return false;" onmousedown="return false;"
                class="has-text-weight-bold not-selectable">How does OOPSpam API work?</summary>
              <p>
                OOPSpam API uses many different <a href="#measurements">measurements</a> to determine what seems to be
                spam
                and what does not. This includes multiple outputs from Machine Learning algorithms, up-to-date
                blocklisted
                IPs lists, spam words, and many more custom rules. The user (you!) directs their content to run through
                OOPSpam API and will get a <strong>Spam Score</strong>. This score gives you control for how
                conservative or
                liberal you would like to mark as spam.
              </p>
            </details>
            <details>
              <summary unselectable="on" onselectstart="return false;" onmousedown="return false;"
                class="has-text-weight-bold not-selectable">Why do you provide a Spam Score instead of giving a simple
                ‘yes’ or
                ‘no’?</summary>
              <p>
                Because in the real world, things are not black and white (or in this case, green and red)! What might
                be
                the best solution for one client could look very different than the next. We’ll give an example. Say you
                are
                a travel website offering high end tour packages. You unfortunately get a lot of spam in your contact
                form,
                but it’s also the biggest conversion tool you have. In this case, since missing a ‘real’ message would
                mean
                missing out on large amounts of money, you would want to be more liberal on what content you accept. On
                the
                other hand, if you have a travel blog where comments are nice to get but more inconsequential, you might
                want to be more conservative on what comments you accept so you don’t need to spend lots of time combing
                through potential real comments. We decided to provide this spam score as a way to give developers and
                website managers more control and ability to create something more custom to ‘WOW’ their clients .
              </p>
            </details>
            <details>
              <summary unselectable="on" onselectstart="return false;" onmousedown="return false;"
                class="has-text-weight-bold not-selectable">What does the Spam Score look like?</summary>
              <p>
                The API will return <strong>Spam Score</strong> which will be a number between 0 to 6. Besides Spam
                Score,
                It will also contain <a href="/docs#introduction">other details</a>. It is up to you to decide your threshold based on <strong>Spam
                  Score</strong>. Usually, a score 3 or above can be considered as spam.
              </p>
            </details>
            <details>
              <summary unselectable="on" onselectstart="return false;" onmousedown="return false;"
                class="has-text-weight-bold not-selectable">Is a request to OOPSpam API stored?</summary>
              <p>
                We don’t have or store your data in our database, however if you're using the API via RapidAPI then it does run through RapidAPI. Sometimes a
                customer may contact us to further analyze a request- this is possible on our end by accessing the
                requested data through the RapidAPI Dashboard. We do not and will not process your data in any other way.
                <p>No logs? Then you can access OOPSpam Anti-Spam API directly without RapidAPI. Just register on <a href="https://app.oopspam.com/Identity/Account/Register">OOPSpam Dashboard</a>.
                </p>
              </p>
            </details>
            <details>
              <summary unselectable="on" onselectstart="return false;" onmousedown="return false;"
                class="has-text-weight-bold not-selectable">Is OOPSpam GDPR compliant?</summary>
              <p>
                OOPSpam itself as an API is GDPR compliant. It does not store any data, so there is no data to identify or track a user. You can access OOPSpam Anti-Spam API directly without RapidAPI. Just register on <a href="https://app.oopspam.com">OOPSpam Dashboard</a></br>
                <p>
                  If you choose to access our API via RapidAPI then every request through RapidAPI is stored on the RapidAPI side which users (in this scenario, you) can see on their dashboard. This data is also available to us through a similar dashboard where we can only view but cannot retrieve them. On a rare occasion when an API user reports misdetection we analyze the reported data and improve detection.
                </p>
              </p>
            </details>
            <details>
              <summary unselectable="on" onselectstart="return false;" onmousedown="return false;"
                class="has-text-weight-bold not-selectable">Direct access to the API instead of RapidAPI?</summary>
              <p>
                Sure! Check out <a href="https://app.oopspam.com/Identity/Account/Register">OOPSpam Dashboard</a>. 
              </p>
            </details>
            <details>
              <summary unselectable="on" onselectstart="return false;" onmousedown="return false;"
                class="has-text-weight-bold not-selectable">Do you have a WordPress plugin?</summary>
              <p>
                Yes! Here you go: <a href="https://wordpress.org/plugins/oopspam-anti-spam/">OOPSpam WordPress plugin</a>.
              </p>
            </details>
            <details>
              <summary unselectable="on" onselectstart="return false;" onmousedown="return false;"
                class="has-text-weight-bold not-selectable">Is there a discount for non-profits?</summary>
              <p>
                Yes, there is! If your company is a non-profit, we offer %20 off for annual plan. <a href="#contact">Contact us</a> and we’ll get back to you.
              </p>
            </details>
            <details>
              <summary unselectable="on" onselectstart="return false;" onmousedown="return false;"
                class="has-text-weight-bold not-selectable">Can I use one key for multiple websites?</summary>
              <p>
                Yes. Once you have a key, you can use it in our WordPress plugin as well as on any other platforms.
              </p>
            </details>
            <details>
              <summary unselectable="on" onselectstart="return false;" onmousedown="return false;"
                class="has-text-weight-bold not-selectable">How to get a key?</summary>
              <p>
                Either via <a href="https://app.oopspam.com/Identity/Account/Register">OOPSpam Dashboard</a> or <a href="https://rapidapi.com/oopspam/api/oopspam-spam-filter"></a>RapidAPI marketplace</a>. Check <a href="https://www.oopspam.com/docs/#authentication">our documentation</a> to learn how to access your key in both through OOPSpam Dashboard and RapidAPI.
              </p>
            </details>
          </div>
        </div>
      </div>
    </div>
  </section>
   <!-- Join to OOPSpam -->
   <section id="get-started" class="section" style="background-color: rgb(255, 221, 87);">
    <div class="container">
      <div class="columns is-vcentered is-centered">
        <div class="column is-half has-text-centered">
          <p class="title has-text-black">Join a new age of spam prevention</p>
          <div class="content">
              <a class="button is-medium is-default is-rounded button-has-shadow is-size-6-mobile"
                href="https://app.oopspam.com/Identity/Account/Register">
                Get started with free spam checks
              </a>
            </div>
        </div>
      </div>
    </div>
  </section>
    <!-- Contact form -->
  <section id="contact" class="section" style="padding-top:6em; padding-bottom:5em;">
    <div class="container">
      <div class="columns is-vcentered is-centered">
        <div class="column is-half ">
          <h2 class="title has-text-centered has-text-black">Contact us</h2>
          <p class="subtitle has-text-centered" style="padding-top:10px;">Got any questions? Don't hesitate to reach out.</p>
       <div id="contact-container">
        <form id="contact_form" action="https://hook.us1.make.com/uegx07wh3dgg9yi5933hfowxwdcl2jol"
            class="pageclip-form" method="post">
            <div class="columns">
                <div class="column">
                    <div class="name">
                        <label for="name">Full Name</label>
                        <input type="text" placeholder="Fred Armisen" name="name" id="name_input" required>
                    </div>
                </div>
                <div class="column">
                    <div class="email">
                        <label for="email">Email Address</label>
                        <input type="email" placeholder="fred@mail.com" name="email" id="email_input" required>
                    </div>
                </div>
            </div>

            <div class="message">
                <textarea name="message" placeholder="Your Message" id="message_input" cols="30" rows="5"
                    required></textarea>
            </div>

            <div class="submit">
                <button id="form_button" class="is-bg-orange pageclip-form__submit button is-warning is-rounded button-has-shadow" type="submit">
                    <span>Submit</span>
                </button>
            </div>

        </form>
    </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer has-background-black" style="margin-top:2em;">
      <div class="content has-text-centered has-text-white">
        <div class="columns">
          
          <div class="column">
            <h6 class="has-text-white is-bold has-text-left">Resources</h6>
            <ul class="has-text-left" style="list-style-type:none; margin:0;">
              <li><a class="has-text-warning" href="/blog">Blog</a></li>
              <li><a class="has-text-warning" href="/docs">Documentation</a></li>
              <li><a class="has-text-warning" href="./#faq">FAQ</a></li>
              <li><a class="has-text-warning" href="https://status.oopspam.com/">Status</a></li>
              <li><a class="has-text-warning" href="./#contact">Contact us</a></li>
              <li><a class="has-text-warning" href="about">👋 About</a></li>
            </ul>
          </div>

          <div class="column">
            <h6 class="has-text-white is-bold has-text-left">How we compare</h6>    
            <ul class="has-text-left" style="list-style-type:none; margin:0;">
              <li><a class="has-text-warning" href="akismet-alternative">Alternative to Akismet</a></li>
              <li><a class="has-text-warning" href="recaptcha-alternative">Alternative to reCAPTCHA</a></li>
               <li><a class="has-text-warning" href="cleantalk-alternative">Alternative to CleanTalk</a></li>
            </ul>
          </div>

          <div class="column">
                  <h6 class="has-text-white is-bold has-text-left">Integration</h6>    
                  <ul class="has-text-left" style="list-style-type:none; margin:0;">
                    <li><a class="has-text-warning" href="https://wordpress.org/plugins/oopspam-anti-spam/">WordPress</a></li>
                    <li><a class="has-text-warning" href="anti-spam-filter-for-gravity-forms">Gravity Forms</a></li>
                  <li><a class="has-text-warning" href="anti-spam-filter-for-ninja-forms">Ninja Forms</a></li>
                  <li><a class="has-text-warning" href="spam-filter-for-contactform7">Contact Form 7</a></li>
                  <li><a class="has-text-warning" href="https://www.oopspam.com/blog/spam-protection-for-elementor-forms">Elementor Forms</a></li>
                  <li><a class="has-text-white" href="./#contact">📣Let us know your integration</a></li>
                  </ul>
          </div>

          <div class="column">
            <h6 class="has-text-white is-bold has-text-left">Legal</h6>    
            <ul class="has-text-left" style="list-style-type:none; margin:0;">
              <li><a class="has-text-warning" href="terms&conditions">Terms of use</a></li>
              <li><a class="has-text-warning" href="privacypolicy">Privacy Policy</a></li>
              <li><a class="has-text-warning" href="gdpr">GDPR</a></li>
              <li><a class="has-text-warning" href="dpa">DPA</a></li>
            </ul>
          </div>

        </div>
      </div>
   
    </footer>
    <div class="has-background-black has-text-white bottom">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column">
            <p>© 2017 - 2023 OOPSpam LLC</p>
          </div>
          <div class="column has-text-right">
             <a href="https://twitter.com/oopspamapi">
                            <img src="/assets/twitter-circle.svg" alt="twitter logo">
                            </a>
                            <a href="https://github.com/OOPSpam">
                            <img src="/assets/github-circle.svg" alt="github logo">
                            </a>
                            <a href="https://wordpress.org/plugins/oopspam-anti-spam/">
                            <img src="/assets/wordpress.svg" alt="wordpress logo">
            </a>
          </div>
        </div>
      </div>
    </div>
  <script async defer src="https://scripts.withcabin.com/hello.js"></script>
<script async src="/scripts/app.min.js"></script>
</body>


</html>